* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
    /* border: 1px solid rebeccapurple; */
}

html {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}



body {
    height: 100%;
    width: 100%;
}

header {
    width: 100%;
    height: 10%;
    margin-top: 30px;

    display: flex;
    justify-content:space-between;
    gap: 10px;
    background-color: rgb(255, 255, 255);
}

header label {
    margin-left: 30px;
    font-style: italic;
    font-weight: bold;
}

header .markContainer {
    margin-right: 50px;
}

.markContainer {
    display: flex;
    gap: 10px;
}

.nameInput {
    width: 190px;
    height: 50px;
    padding: 5px;

    color: rgb(0, 155, 0);

    border-left: 0px;
    border-right: 0px;
    border-top: 10px;

    font-size: 1.5em;
    font-weight: bold;
}

.gameState {
    text-align: center;
    font-weight: bold;
}



#result {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
}

#p1winner {
    text-decoration: underline;
    font-weight: bold;
    color: green;
}

#p2winner {
    text-decoration: underline;
    font-weight: bold;
    color: red;
}

button {
    font-weight: bold;
    width: 180px;
    padding: 15px;
    transition: 0.5s;
}


.boardContainer {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board {
    margin-top: -50px;
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.row {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 42px;

    width: 180px;
    height: 180px;

    transition: 0.3s;
}

.box:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    transition: 0.3s;
}

/*GRID BORDERS*/

.row:first-child div:nth-child(1), .row:nth-child(2) div:nth-child(2), .row:first-child div:nth-child(2), .row:nth-child(2) div:nth-child(1) {
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}

.row:nth-child(3) div:nth-child(1), .row:nth-child(3) div:nth-child(2) {
    border-right: 3px solid black;
}

.row:nth-child(2) div:nth-child(3), .row:first-child div:nth-child(3) {
    border-bottom: 3px solid black;
}



@media (max-width: 700px) {

    header {
        display: flex;
        justify-content: left;
        flex-direction: column;

        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 30px;
        gap: 20px;
    }

    .nameInput {
        width: 140px;
        height: 40px;
        padding: 5px;
        font-size: 1.3em;
    }

    .matchInfo {
        font-size: 12px;
    }

    .box {
        width: 4rem;
        height: 4rem;
    }
}